.input {
  width: 40%;
  border: 2px solid #91c8e4;
  border-radius: 8px;
  box-shadow: 1px 3px 9px rgba($color: #000000, $alpha: 0.25);
  padding: 10px 15px;
  background-color: #f6f4eb;
  &:focus {
    outline: none;
  }
}

.btn {
  box-shadow: 1px 3px 9px rgba($color: #000000, $alpha: 0.25);
  color: #f6f4eb;
  background-color: #749bc2;
}
@media (max-width: 576px) {
  .input {
    width: 80%;
  }
}
